<!DOCTYPE html>
<html class="mdc-typography html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Greeting App</title>
    <link rel="stylesheet"
          href="~/node_modules/material-components-web/dist/material-components-web.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        :root {
            --mdc-theme-primary: #039BE5;
            --mdc-theme-primary-dark: #0288D1;
            --mdc-theme-primary-light: #6ec6ff;
        }

        .mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::before,
        .mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::after {
            background-color: rgba(255, 255, 255, .2);
        }

        #greeting-form > button {
            margin-top: 8px;
        }

        .html {
            overflow: hidden;
        }

        /* Place drawer and main next to each other. */
        .system-content {
            display: flex;
            flex: 1 1 auto;
            height: 100%;
            box-sizing: border-box;
        }

        .right-content {
            margin-right: 0;
            overflow-y: scroll;
            position: absolute;
            bottom: 0;
            top: 0px;
            right: 0;
            left: 240px;
        }

        .menu-user {
            position: absolute;
            right: 8px;
            top: 56px;
            margin: 70px 20px 8px 20px;
        }

        .system-main {
            padding-left: 16px;
        }

        .menu-user-Barra-Acoes {
            background: #f5f5f5;
            border-top: 1px solid #ccc;
        }

        /*div.fixed {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 300px;
            border: 3px solid #73AD21;
        }*/

        .left-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 0;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        }

        .drawer {
            flex: 1 1 auto;
            overflow: scroll;
            overflow-x: hidden;
        }

        .left-footer {
            box-shadow: 0 -1px 0 rgba(0,0,0,0.12);
            background-color: #373435;
        }

        .brasao {
            width: 150px;
            padding: 10px;
            display: block;
            margin: 0 auto;
        }

        .menu-user-Barra-Acoes-button {
            border: 1px solid #c6c6c6;
        }

        .avatar {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin: 8px 20px 8px 20px;
        }

        .mdc-button-MinhaConta {
            margin: 10px 0px 0px 0px;
        }

        .capitalize {
            text-transform: capitalize !important;
        }

        .uppercase {
            text-transform: uppercase !important;
        }

        .subheader {
            color: rgba(0,0,0,0.38);
            font-size: 12px;
            padding: 0 16px;
            letter-spacing: .5px;
            width: 100%;
        }
        .copyright {
            color: rgba(255, 255, 255, 0.75);
            font-size: 12px;
            padding: 0 16px;
            letter-spacing: .5px;
            width: 100%;
        }
        .avatarExpandido {
            border-radius: 50%;
        }

        .email {
            color: #666;
        }

        .feature-bar {
            padding: 8px 56px 0 24px;
            min-height: 36px;
        }

        .feature-title {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .feature-title-badge {
            background-color: rgba(255,255,255,0.25);
            border-radius: 2px;
            color: white;
            cursor: default;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .5px;
            line-height: 16px;
            margin-left: 8px;
            margin-right: 24px;
            padding: 2px 6px;
            position: relative;
            text-transform: uppercase;
        }

        @@media(min-width: 768px) {
            .mobile-show {
                display: none;
            }
        }

        @@media(max-width: 768px) {
            .mobile-hide {
                display: none;
            }
        }

        @@media (max-width: 959px) and (orientation: landscape) {
            .mdc-toolbar-fixed-adjust {
                margin-top: 55px;
            }
        }
    </style>
</head>
<body class="mdc-typography demo-body">
    <div>
        <header class="mdc-toolbar mdc-toolbar--fixed mdc-theme--primary-dark-bg">
            <div class="mdc-toolbar__row">
                <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <button class="demo-menu material-icons mdc-toolbar__icon--menu mobile-show">menu</button>
                    <button class="demo-menu material-icons mdc-toolbar__icon--menu mobile-hide">card_giftcard</button>
                    <div class="mdc-toolbar__title">
                        <span>Nome do Sistema</span>
                    </div>
                </section>
                <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
                    <div class="mdc-menu-anchor">
                        <a href="#" class="toggle"><img class=" avatar" src="~/Content/images/silhouette.png"></a>

                        <div class="mdc-simple-menu menu-user " tabindex="-1" id="demo-menu">
                            <div class="mdc-card demo-card mdc-simple-menu__items">
                                <div class="mdc-card__horizontal-block">
                                    <img class="mdc-card__media-item avatarExpandido" src="~/Content/images/silhouette.png">
                                    <section class="mdc-card__primary">
                                        <h1 class="mdc-card__title"><b>Nome do Usuário do Sistema</b></h1>
                                        <h2 class="mdc-card__subtitle email">nomeusuário@provedor.com.br</h2>
                                        <h2 class="mdc-card__subtitle email"><span>Entidade: </span><span>Prodest</span></h2>
                                        <div class="mdc-card__supporting-text">
                                            <a href="https://acessocidadao.es.gov.br/Perfil/" class="mdc-button mdc-button--primary mdc-button--unelevated mdc-button--dense mdc-ripple-upgraded mdc-button-MinhaConta capitalize">Minha Conta</a>
                                        </div>
                                    </section>
                                </div>
                                <section class="mdc-card__actions menu-user-Barra-Acoes">
                                    <div dir="ltr" style="width:50%">
                                        <a href="#" class="mdc-button mdc-button--compact capitalize menu-user-Barra-Acoes-button">Botão Opção a Esquerda</a>
                                    </div>
                                    <div dir="rtl" style="width:50%">
                                        <a href="#" class="mdc-button mdc-button--compact capitalize menu-user-Barra-Acoes-button">Sair</a>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </header>
    </div>
    <div class="system-content">
        <div class="left-content">
            <nav class="mdc-permanent-drawer mobile-hide drawer mdc-toolbar-fixed-adjust">
                <div class="mdc-list-group">
                    <nav class="mdc-list">
                        <a class="mdc-list-item mdc-permanent-drawer--selected" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>Página Inicial
                        </a>
                    </nav>

                    <hr class="mdc-list-divider">

                    <nav class="mdc-list">
                        <span class="uppercase subheader">Opções 1</span>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>All Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Star
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">send</i>Sent Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">drafts</i>Drafts
                        </a>
                    </nav>


                    <nav class="mdc-list">
                        <span class="uppercase subheader">Opções 2</span>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>All Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
                        </a>
                    </nav>

                    <hr class="mdc-list-divider">

                    <nav class="mdc-list">
                        <span class="uppercase subheader">Opções 3</span>

                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Star
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">send</i>Sent Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">drafts</i>Drafts
                        </a>
                    </nav>

                    <hr class="mdc-list-divider">

                    <nav class="mdc-list">
                        <span class="uppercase subheader">Opções 4</span>

                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>All Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
                        </a>
                    </nav>
                    <hr class="mdc-list-divider">

                    <nav class="mdc-list">
                        <span class="uppercase subheader">Opções 5</span>

                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Star
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">send</i>Sent Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">drafts</i>Drafts
                        </a>
                    </nav>

                    <hr class="mdc-list-divider">

                    <nav class="mdc-list">
                        <span class="uppercase subheader">Opções 6</span>

                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>All Mail
                        </a>
                        <a class="mdc-list-item" href="#">
                            <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
                        </a>
                    </nav>
                </div>
            </nav>
            <div class="fixed left-footer">
                <img class="brasao" src="http://cdn.es.gov.br/images/logo/governo/brasao/left-white/Brasao_Governo_240.png" />
                <span class="copyright">Desenvolvido pelo PRODEST</span>
            </div>
        </div>


        <div class="right-content mdc-toolbar-fixed-adjust">
            <div class="second-header">
                <div class="mdc-toolbar">
                    <div class="mdc-toolbar__row feature-bar">
                        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                            <span class="feature-title">Sub-título</span>
                            <div class="feature-title-badge">Badge</div>
                        </section>

                        <div class="mdc-toolbar__section mdc-toolbar__section--align-end">
                            <div>
                                <button class="featurebar-help-button" type="button" aria-label="Ajuda">
                                    <i class="material-icons">help</i>
                                    <div class="md-ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-toolbar__row">
                        <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
                            <div>
                                <nav id="toolbar-tab-bar-secondary-indicator" class="mdc-tab-bar mdc-tab-bar--indicator-accent mdc-tab-bar-upgraded">
                                    <a class="mdc-tab mdc-tab--active mdc-ripple-upgraded" href="#one" style="--mdc-ripple-surface-width:160px; --mdc-ripple-surface-height:48px; --mdc-ripple-fg-size:96px; --mdc-ripple-fg-scale:1.84422; --mdc-ripple-fg-translate-start:46px, -17.5938px; --mdc-ripple-fg-translate-end:32px, -24px;">Item One</a>
                                    <a class="mdc-tab mdc-ripple-upgraded" href="#two" style="--mdc-ripple-surface-width:160px; --mdc-ripple-surface-height:48px; --mdc-ripple-fg-size:96px; --mdc-ripple-fg-scale:1.84422;">Item Two</a>
                                    <a class="mdc-tab mdc-ripple-upgraded" href="#three" style="--mdc-ripple-surface-width:160px; --mdc-ripple-surface-height:48px; --mdc-ripple-fg-size:96px; --mdc-ripple-fg-scale:1.84422;">Item Three</a>
                                    <span class="mdc-tab-bar__indicator" style="transform: translateX(0px) scale(0.333333, 1); visibility: visible;"></span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <main class="system-main">
                <div>AContent</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
                <div>Content</div>
            </main>

        </div>
    </div>



    <script src="~/node_modules/material-components-web/dist/material-components-web.js"></script>
    <script>window.mdc.autoInit();</script>
    <script>

        let menu = new mdc.menu.MDCSimpleMenu(document.querySelector('.mdc-simple-menu'));
        // Add event listener to some button to toggle the menu on and off.
        document.querySelector('.toggle').addEventListener('click', () => menu.open = !menu.open);

        mdc.tabs.MDCTabBar.attachTo(document.querySelector('#toolbar-tab-bar-secondary-indicator'));


    </script>
</body>
</html>

@RenderBody()